# Python (qayta yaratiladigan)
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/

# collectstatic chiqishi (loyihada bo‘lsa)
staticfiles/

# IDE / OS
.idea/
.vscode/
*.swp
Thumbs.db
Desktop.ini

# Maxfiy muhit o‘zgaruvchilari
.env
.env.local
